.traceTittle {
  margin: 0;
  padding: 3% 0;
}

.traceElementContainer {
  background-color: rgba(150, 150, 150, 1);
}

.traceInput {
  border: none;
  border-radius: 15px;
}

.traceElement {
  display: flex;
  justify-content: center;
  color: white;
}
