@import 'scss/variables/_mediaQueries.scss';

.traceContainer {
  @media #{$desktop}, #{$desktop-tablet} {
    height: 100%;
    width: 80%;
  }
  @media #{$mobile} {
    height: 100%;
    width: 70%;
  }
}

.traceTittle {
  @media #{$desktop}, #{$desktop-tablet} {
    margin: 0;
    padding: 3% 0;
    text-align: center;
  }
  @media #{$mobile} {
    margin: 0;
    font-size: 20px;
    text-align: center;
  }
}

.traceElementContainer {
  @media #{$desktop}, #{$desktop-tablet} {
    height: 85%;
    background-color: rgba(150, 150, 150, 1);
    overflow: auto;
    text-align: center;
    padding: 3% 0 0;
  }
  @media #{$mobile} {
    height: 85%;
    background-color: rgba(150, 150, 150, 1);
    border-radius: 15px;
    text-align: center;
    overflow: auto;
  }
}

.traceInput {
  border: none;
  border-radius: 15px;
  @media #{$mobile} {
    width: 85%;
  }
}
