.traceElement {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  border: none;
  background: none;
  appearance: none;
  border-bottom: 1px solid black;
  &:focus {
    background-color: rgba(96, 133, 235, 0.8);
  }
}
