@import 'scss/variables/_mediaQueries.scss';

%boton {
  @media #{$desktop}, #{$tablet} {
    border-radius: 15px;
    padding: 3% 0;
    margin: 5% 5px 1%;
    width: 20%;
    border: transparent;
    color: white;
    font-size: 30px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.6);
    outline: none;
  }
  @media #{$mobile} {
    border-radius: 15px;
    padding: 0.5% 0.5%;
    margin: 2% 5px 1%;
    width: 20%;
    border: transparent;
    color: white;
    font-size: 50px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.6);
    outline: none;
  }
}

%botonesLargos {
  @media #{$desktop}, #{$tablet} {
    border-radius: 15px;
    padding: 3% 0%;
    border: transparent;
    color: white;
    font-size: 30px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.6);
    outline: none;
  }
  @media #{$mobile} {
    border-radius: 15px;
    padding: 1% 0;
    border: transparent;
    color: white;
    font-size: 50px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.6);
    outline: none;
  }
}

%activeProperties {
  box-shadow: 0px 0px;
  border: transparent;
}

.deleteAll {
  @extend %botonesLargos;
  @media #{$desktop}, #{$tablet} {
    width: 35%;
    background-color: #ff8200;
    margin: 5px 15% 5px 5%;
    float: right;
  }
  @media #{$mobile} {
    width: 40%;
    background-color: #ff8200;
    margin: 5px 20% 5px 10%;
    float: right;
  }
}

.deleteAll:active {
  @extend %activeProperties;
  margin: 6px 15% 0px 5%;
  @media #{$mobile} {
    margin: 6px 20% 0px 10%;
  }
}

.delete {
  @extend %botonesLargos;
  @media #{$desktop}, #{$tablet} {
    width: 25%;
    background-color: #ff8200;
    margin: 5px 0px 5px 0px;
    float: right;
  }
  @media #{$mobile} {
    width: 30%;
    background-color: #ff8200;
    margin: 5px 0px;
    float: right;
  }
}

.delete:active {
  @extend %activeProperties;
  margin: 7px 0px 3px 0px;
}

.number {
  @extend %boton;
  background-color: orange;
}

.number:active {
  @extend %activeProperties;
  margin: 5.5% 5px 1%;
  @media #{$mobile} {
    margin: 2.3% 5px 0%;
  }
}

.operador {
  @extend %boton;
  background-color: #989694;
  float: right;
}

.operador:active {
  @extend %activeProperties;
  margin: 5.5% 5px 0px;
  @media #{$mobile} {
    margin: 2.5% 5px 0px;
  }
}

.cero {
  @extend %botonesLargos;
  @media #{$desktop}, #{$tablet} {
    width: 35%;
    margin: 5% 10% 5% 0%;
    background-color: orange;
  }
  @media #{$mobile} {
    width: 40%;
    margin: 2% 5px 1%;
    background-color: orange;
  }
}

.cero:active {
  @extend %activeProperties;
  margin: 5.5% 10% 5% 0;
  @media #{$mobile} {
    margin: 2.5% 5px 0%;
  }
}

.igual {
  @extend %boton;
  margin: 2% 5px 1%;
  background-color: green;
}

.igual:active {
  @extend %activeProperties;
  margin: 5.5% 5px 0%;
}
